<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Joke generator</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
	<h1>Welcome to my joke generator</h1>
    <h2>New User</h2>
    <ul>
        <li>To create new joke select <a href="/genJoke">JokeGen</a></li>
    </ul>
	
	<hr>
    <h2>Returning User</h2>
    <ul>
        <li>To see your current saved joke select <a href="/curJoke">CurrentJoke</a></li>
        <li>To remove your saved joke select <a href="/remJoke">RemoveJoke</a> </li>

    </ul>
    <hr>
</body>

</html>