<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Joke saved Confirmation</title>
</head>

<body>
	<h1>Saved Data</h1>
	<div>
		<strong>Name: </strong><%- name %><br>
		<strong>Email Address: </strong><%- email %><br>
		<strong>Joke: </strong><br>
        <%- joke %>
		<br>
		<hr>
	</div>
    <a href="/">HOME</a>
</body>

</html>
