<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Removed</title>
    
</head>

<body>
	<h1>Removing of All Jokes</h1>
    <br>
    <br>
    <p>All jokes have been removed from the database. Number of jokes removed: <%- num %></p>
    
    <a href="/">HOME</a>
</body>