<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Application Confirmation</title>
</head>

<body>
	<h1>Applicants Data</h1>
	<div>
		<strong>Name: </strong><%- entry.name %><br>
		<strong>Email Address: </strong><%- entry.email %><br>
		<strong>Joke: </strong><br>
        <%- entry.joke %>
		<br>
		<hr>
	</div>
    <a href="/">HOME</a>
</body>

</html>