<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Joke stored</title>
    
</head>

<body>
	<h1>Show saved joke</h1>
    <form action = "http://localhost:<%= portNumber %>/showSavedJoke" method = "get">
        <fieldset>
            
            <label for="email"><strong>Email Address:</strong></label>
            <input type="email" id="email" name="email" required >
            <br>
            <br>
        </fieldset>

        <br>

        <!-- Add a submit button if needed -->
        <input type="reset" value="Reset">
        <input type="submit" value="Submit Request">
    </form>
    
    <hr>
    <a href="/">HOME</a>
</body>